<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="logo.png" />
        <link rel="stylesheet" href="HomePage.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
            integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <title>Amazon-Hello</title>
    </head>
    <body>
        <%- include("includes/FixedTop.html") %>

        <!-- Main -->
        <div class="mainsec">
            <img src="Discount.png" alt="Discount Image" id="disimg" />

            <!-- cards -->

            <div class="cards">
                <!-- 1st 8card -->
                <div class="reccard one">
                    <h2>Revamp your home in style | upto 67% off</h2>
                    <div class="imgsec">
                        <div class="simg c11"></div>
                        <div class="simg c12"></div>
                        <p>Cushion covers, bedsheets & more</p>
                        <p>Figurines, vases & more</p>
                        <div class="simg c13"></div>
                        <div class="simg c14"></div>
                        <p>Home storage</p>
                        <p>Lighting Solutions</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard two">
                    <h2>Appliances for your home | Up to 55% off</h2>
                    <div class="imgsec">
                        <div class="simg c21"></div>
                        <div class="simg c22"></div>
                        <p>Air conditioners</p>
                        <p>Refrigerators</p>
                        <div class="simg c23"></div>
                        <div class="simg c24"></div>
                        <p>Microwaves</p>
                        <p>Washing Machines</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard three">
                    <h2>Starting ₹149 | Headphones under ₹1500</h2>
                    <div class="imgsec">
                        <div class="simg c31"></div>
                        <div class="simg c32"></div>
                        <p>Starting ₹249 | Boat</p>
                        <p>Starting ₹679 | Boult</p>
                        <div class="simg c33"></div>
                        <div class="simg c34"></div>
                        <p>Starting ₹567 | Noise</p>
                        <p>Starting ₹907 | Zebronics</p>
                    </div>
                    <a href="#">See more</a>
                </div>

                <div class="reccard four">
                    <h2>Under ₹999 | Home improvement essentials</h2>
                    <div class="imgsec">
                        <div class="simg c41"></div>
                        <div class="simg c42"></div>
                        <p>Cleaning Under ₹199 | Cleaning supplies</p>
                        <p>Under ₹399 | Bathroom accessories</p>
                        <div class="simg c43"></div>
                        <div class="simg c44"></div>
                        <p>Home tools Under ₹499 | Home tools</p>
                        <p>Under ₹299 | Wallpapers</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard five">
                    <h2>Up to 50% off | toys | Amazon Brands</h2>
                    <div class="imgsec">
                        <div class="simg c51"></div>
                        <div class="simg c52"></div>
                        <p>
                            Up to 50% off | Baby diapers & wipes Up to 50% off
                        </p>
                        <p>Up to 50% off | Ride ons</p>
                        <div class="simg c53"></div>
                        <div class="simg c54"></div>
                        <p>Starting ₹649 | RC cars</p>
                        <p>Up to 50% off | Baby safety essentials</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard six">
                    <h2>Starting ₹199 | Amazon Brands & more</h2>
                    <div class="imgsec">
                        <div class="simg c61"></div>
                        <div class="simg c62"></div>
                        <p>Starting ₹199 | Bedsheets</p>
                        <p>Starting ₹199 | Curtains</p>
                        <div class="simg c63"></div>
                        <div class="simg c64"></div>
                        <p>Minimum 40% off | Ironing board & more</p>
                        <p>Up to 60% off | Home decor</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard seven">
                    <h2>Automotive essentials | Up to 60% off</h2>
                    <div class="imgsec">
                        <div class="simg c71"></div>
                        <div class="simg c72"></div>
                        <p>Cleaning accessories</p>
                        <p>Tyre & rim care</p>
                        <div class="simg c73"></div>
                        <div class="simg c74"></div>
                        <p>Helmets</p>
                        <p>Vacuum cleaner</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard eight">
                    <h2>Appliances for your home | Up to 55% off</h2>
                    <div class="imgsec">
                        <div class="simg c21"></div>
                        <div class="simg c22"></div>
                        <p>Air conditioners</p>
                        <p>Refrigerators</p>
                        <div class="simg c23"></div>
                        <div class="simg c24"></div>
                        <p>Microwaves</p>
                        <p>Washing Machines</p>
                    </div>
                    <a href="#">See more</a>
                </div>

                <!-- First 2 long card -->

                <div class="widcard yam1">
                    <h3>
                        Min. 50% off | Unique home finds | Amazon Brands & more
                    </h3>
                    <div>
                        <img src="widcard1.png" />
                        <img src="widcard2.png" />
                        <img src="widcard3.png" />
                        <img src="widcard4.png" />
                        <img src="widcard5.png" />
                        <img src="widcard6.png" />
                        <img src="widcard7.png" />
                    </div>
                </div>
                <div class="widcard yam2">
                    <h3>Up to 40% off | Smart storage, clutter-free living</h3>
                    <div>
                        <img src="widcard6.png" />
                        <img src="widcard7.png" />
                        <img src="widcard4.png" />
                        <img src="widcard5.png" />
                        <img src="widcard1.png" />
                        <img src="widcard2.png" />
                        <img src="widcard3.png" />
                    </div>
                </div>

                <!-- 4 card  -->
                <div class="reccard nine">
                    <h2>Starting ₹199 | Amazon Brands & more</h2>
                    <div class="imgsec">
                        <div class="simg c61"></div>
                        <div class="simg c62"></div>
                        <p>Starting ₹199 | Bedsheets</p>
                        <p>Starting ₹199 | Curtains</p>
                        <div class="simg c63"></div>
                        <div class="simg c64"></div>
                        <p>Minimum 40% off | Ironing board & more</p>
                        <p>Up to 60% off | Home decor</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard ten">
                    <h2>Appliances for your home | Up to 55% off</h2>
                    <div class="imgsec">
                        <div class="simg c21"></div>
                        <div class="simg c22"></div>
                        <p>Air conditioners</p>
                        <p>Refrigerators</p>
                        <div class="simg c23"></div>
                        <div class="simg c24"></div>
                        <p>Microwaves</p>
                        <p>Washing Machines</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard eleven">
                    <h2>Under ₹999 | Home improvement essentials</h2>
                    <div class="imgsec">
                        <div class="simg c41"></div>
                        <div class="simg c42"></div>
                        <p>Cleaning Under ₹199 | Cleaning supplies</p>
                        <p>Under ₹399 | Bathroom accessories</p>
                        <div class="simg c43"></div>
                        <div class="simg c44"></div>
                        <p>Home tools Under ₹499 | Home tools</p>
                        <p>Under ₹299 | Wallpapers</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard twelve">
                    <h2>Automotive essentials | Up to 60% off</h2>
                    <div class="imgsec">
                        <div class="simg c71"></div>
                        <div class="simg c72"></div>
                        <p>Cleaning accessories</p>
                        <p>Tyre & rim care</p>
                        <div class="simg c73"></div>
                        <div class="simg c74"></div>
                        <p>Helmets</p>
                        <p>Vacuum cleaner</p>
                    </div>
                    <a href="#">See more</a>
                </div>

                <!-- 2 long card  -->

                <div class="widcard yam3">
                    <h3>
                        Up to 60% off | Trending products from Emerging
                        Businesses
                    </h3>
                    <div>
                        <img src="widcard6.png" />
                        <img src="widcard7.png" />
                        <img src="widcard3.png" />
                        <img src="widcard10.png" />
                        <img src="widcard8.png" />
                        <img src="widcard5.png" />
                        <img src="widcard2.png" />
                        <img src="widcard6.png" />
                        <img src="widcard5.png" />
                        <img src="widcard1.png" />
                        <img src="widcard10.png" />
                        <img src="widcard5.png" />
                    </div>
                </div>
                <div class="widcard yam4">
                    <h3>Starting ₹70,348 | Set off on your next great ride</h3>
                    <div>
                        <img src="widcard9.png" />
                        <img src="widcard10.png" />
                        <img src="widcard8.png" />
                        <img src="widcard5.png" />
                        <img src="widcard2.png" />
                        <img src="widcard6.png" />
                        <img src="widcard3.png" />
                        <img src="widcard10.png" />
                        <img src="widcard8.png" />
                        <img src="widcard5.png" />
                        <img src="widcard2.png" />
                        <img src="widcard6.png" />
                    </div>
                </div>

                <!-- 4 rec card -->

                <div class="reccard thirteen">
                    <h2>Revamp your home in style | upto 67% off</h2>
                    <div class="imgsec">
                        <div class="simg c11"></div>
                        <div class="simg c12"></div>
                        <p>Cushion covers, bedsheets & more</p>
                        <p>Figurines, vases & more</p>
                        <div class="simg c13"></div>
                        <div class="simg c14"></div>
                        <p>Home storage</p>
                        <p>Lighting Solutions</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard fourteen">
                    <h2>Appliances for your home | Up to 55% off</h2>
                    <div class="imgsec">
                        <div class="simg c21"></div>
                        <div class="simg c22"></div>
                        <p>Air conditioners</p>
                        <p>Refrigerators</p>
                        <div class="simg c23"></div>
                        <div class="simg c24"></div>
                        <p>Microwaves</p>
                        <p>Washing Machines</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard fifteen">
                    <h2>Starting ₹149 | Headphones under ₹1500</h2>
                    <div class="imgsec">
                        <div class="simg c31"></div>
                        <div class="simg c32"></div>
                        <p>Starting ₹249 | Boat</p>
                        <p>Starting ₹679 | Boult</p>
                        <div class="simg c33"></div>
                        <div class="simg c34"></div>
                        <p>Starting ₹567 | Noise</p>
                        <p>Starting ₹907 | Zebronics</p>
                    </div>
                    <a href="#">See more</a>
                </div>

                <div class="reccard sixteen">
                    <h2>Under ₹999 | Home improvement essentials</h2>
                    <div class="imgsec">
                        <div class="simg c41"></div>
                        <div class="simg c42"></div>
                        <p>Cleaning Under ₹199 | Cleaning supplies</p>
                        <p>Under ₹399 | Bathroom accessories</p>
                        <div class="simg c43"></div>
                        <div class="simg c44"></div>
                        <p>Home tools Under ₹499 | Home tools</p>
                        <p>Under ₹299 | Wallpapers</p>
                    </div>
                    <a href="#">See more</a>
                </div>

                <!-- 2 long card , 4 rec , 2 long cards  -->
                <div class="widcard yam5">
                    <h3>
                        Min. 40% off | Home & kitchen deals from Amazon
                        Launchpad
                    </h3>
                    <div>
                        <img src="widcard9.png" />
                        <img src="widcard10.png" />
                        <img src="widcard8.png" />
                        <img src="widcard5.png" />
                        <img src="widcard2.png" />
                        <img src="widcard6.png" />
                        <img src="widcard3.png" />
                        <img src="widcard8.png" />
                        <img src="widcard5.png" />
                        <img src="widcard2.png" />
                        <img src="widcard6.png" />
                        <img src="widcard3.png" />
                    </div>
                </div>
                <div class="widcard yam6">
                    <h3>
                        Up to 60% off | Trending products from Emerging
                        Businesses
                    </h3>
                    <div>
                        <img src="widcard9.png" />
                        <img src="widcard10.png" />
                        <img src="widcard8.png" />
                        <img src="widcard5.png" />
                        <img src="widcard2.png" />
                        <img src="widcard6.png" />
                        <img src="widcard3.png" />
                        <img src="widcard9.png" />
                        <img src="widcard10.png" />
                        <img src="widcard8.png" />
                        <img src="widcard5.png" />
                        <img src="widcard2.png" />
                    </div>
                </div>
                <div class="reccard seventeen">
                    <h2>Appliances for your home | Up to 55% off</h2>
                    <div class="imgsec">
                        <div class="simg c21"></div>
                        <div class="simg c22"></div>
                        <p>Air conditioners</p>
                        <p>Refrigerators</p>
                        <div class="simg c23"></div>
                        <div class="simg c24"></div>
                        <p>Microwaves</p>
                        <p>Washing Machines</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard eighteen">
                    <h2>Starting ₹149 | Headphones under ₹1500</h2>
                    <div class="imgsec">
                        <div class="simg c31"></div>
                        <div class="simg c32"></div>
                        <p>Starting ₹249 | Boat</p>
                        <p>Starting ₹679 | Boult</p>
                        <div class="simg c33"></div>
                        <div class="simg c34"></div>
                        <p>Starting ₹567 | Noise</p>
                        <p>Starting ₹907 | Zebronics</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard nineteen">
                    <h2>Appliances for your home | Up to 55% off</h2>
                    <div class="imgsec">
                        <div class="simg c21"></div>
                        <div class="simg c22"></div>
                        <p>Air conditioners</p>
                        <p>Refrigerators</p>
                        <div class="simg c23"></div>
                        <div class="simg c24"></div>
                        <p>Microwaves</p>
                        <p>Washing Machines</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="reccard twenty">
                    <h2>Revamp your home in style | upto 67% off</h2>
                    <div class="imgsec">
                        <div class="simg c11"></div>
                        <div class="simg c12"></div>
                        <p>Cushion covers, bedsheets & more</p>
                        <p>Figurines, vases & more</p>
                        <div class="simg c13"></div>
                        <div class="simg c14"></div>
                        <p>Home storage</p>
                        <p>Lighting Solutions</p>
                    </div>
                    <a href="#">See more</a>
                </div>
                <div class="widcard yam7">
                    <h3>Up to 60% Off | Furniture crafted for every corner</h3>
                    <div>
                        <img src="widcard6.png" />
                        <img src="widcard7.png" />
                        <img src="widcard3.png" />
                        <img src="widcard10.png" />
                        <img src="widcard8.png" />
                        <img src="widcard5.png" />
                        <img src="widcard2.png" />
                        <img src="widcard6.png" />
                        <img src="widcard5.png" />
                        <img src="widcard1.png" />
                        <img src="widcard10.png" />
                        <img src="widcard5.png" />
                    </div>
                </div>
                <div class="widcard yam8">
                    <h3>
                        Up to 60% off | Trending products from Emerging
                        Businesses
                    </h3>
                    <div>
                        <img src="widcard5.png" />
                        <img src="widcard2.png" />
                        <img src="widcard6.png" />
                        <img src="widcard5.png" />
                        <img src="widcard1.png" />
                        <img src="widcard10.png" />
                        <img src="widcard5.png" />
                        <img src="widcard6.png" />
                        <img src="widcard7.png" />
                        <img src="widcard3.png" />
                        <img src="widcard10.png" />
                        <img src="widcard8.png" />
                    </div>
                </div>
                <div class="widcard yammm">
                    <h3>Related to items that you've viewed</h3>
                    <a href="#">See more</a>
                </div>
            </div>
            <!-- Footer -->
            <%- include("includes/FixedBottom.html") %>
        </div>
        <script src="AmazonClone.js"></script>
    </body>
</html>
