<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Amazon Login</title>
        <link rel="icon" href="logo.png" />
        <style>
            * {
                margin: 0 auto;
            }
            img {
                display: block;
                margin: 15px 0px;
                margin-left: auto;
                margin-right: auto;
                height: 40px;
            }
            hr {
                margin: 17px 0px;
            }
            .block {
                width: 285px;
                height: 246px;
                border: 0.5px solid rgba(128, 128, 128, 0.285);
                border-radius: 5px;
                padding: 20px 30px;
                overflow: hidden;
            }
            h1 {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 100;
                font-size: 18px;
                margin-bottom: 10px;
            }
            h4 {
                margin: 5px 0px;
            }
            input {
                width: 250px;
                height: 29px;
                border: 0.5px solid gray;
                border-radius: 5px;
                padding: 3px 10px;
                font-size: 17px;
            }
            input[type="text"]:focus {
                outline: none;
                border-color: lightblue;
            }
            button {
                background-color: #fdc428;
                border: 0px;
                border-radius: 15px;
                margin: 10px 0px 20px 0px;
                padding: 7px 103px;
                font-size: 16px;
            }
            /* footer */
            .end {
                text-align: center;
                line-height: 25px;
            }
            .end a {
                text-decoration: none;
                margin-right: 17px;
            }
            .end p {
                margin-right: 20px;
            }
        </style>
    </head>
    <body>
        <img src="logowhitebg.png" alt="logo" />
        <div class="block">
            <h1>Sign in or create account</h1>
            <h4><b>Enter mobile number or email</b></h4>
            <form action="/signup" method="get">
                <input type="text" />
                <button>Continue</button>
            </form>
            <p>
                By continuing, you agree to Amazon's
                <a href="#">Conditions of Use</a> and
                <a href="#">Privacy Notice</a>.
            </p>
            <hr />
            <h4>Buying for word?</h4>
            <p><a href="#">Create a free business account</a></p>
        </div>
        <hr />
        <div class="end">
            <a href="#">Conditions of Use </a>
            <a href="#"> Privacy Notice </a>
            <a href="#"> Help</a>
            <br />
            <p>© 1996-2025, Amazon.com, Inc. or its affiliates</p>
        </div>
    </body>
</html>
