<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ERROR</title>
        <link rel="icon" href="logo.png" />
    </head>
    <body>
        <img src="logowhitebg.png" alt="logo" />
        <h3>Hello, you are in non-existing route</h3>
        <h1>
            Click on >>>>>
            <a
                href="/homePage"
                style="
                    color: rgb(16, 164, 219);
                    text-decoration: none;
                    font-size: 15px;
                "
            >
                &nbsp; &nbsp; &nbsp; &nbsp; Redirect to home-page
            </a>
        </h1>
    </body>
</html>
