.main {
    position: absolute;
    top: 95px;
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#buy {
    font-family: "Lucida Sans";
    font-size: 15px;
    margin: 20px 100px 20px 38%;
    width: 500px;
    padding: 15px;
    background-color: rgba(255, 166, 0, 0.948);
    border: 2px solid rgba(255, 166, 0, 0.948);
    border-radius: 15px;
}
.itemsandtotal {
    padding: 50px;
    height: 900px;
    background-color: rgba(210, 105, 30, 0.16);
    display: flex;
    justify-content: center;
}

/* left */
.items {
    width: 500px;
    padding: 50px 100px;
    background-color: #cd8e6135;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.items .heading {
    margin-right: 250px;
}
.items .heading h3 {
    font-size: 30px;
    margin: 15px 0px;
}
.items .heading h3 {
    font-size: 30px;
    margin: 15px 0px;
}
.items .citem {
    margin: 0;
    width: 500px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.total {
    width: 700px;
    background-color: #ffffff6c;
    border-radius: 0px 20px 20px 0px;
}
/* Right */

.total {
    display: flex;
    justify-content: center;
    align-items: center;
}
