/* --------------###Main###----------------------------------------------------------------------------------------- */
.main {
    position: absolute;
    top: 95px;
    display: flex;
}
.custom {
    width: 180px;
    padding-left: 30rem;
    background: #e9f6724a;
}
.custom ul {
    list-style-type: none;
    padding: 0;
}
.cards {
    width: 1000px;
    background: #f6de724a;
}
