body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

/* Upper Top--------------------------------*/
#top {
    z-index: 100;
    position: fixed;
    background-color: black;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px 0px 0px;
}
.topleft {
    display: flex;
}
.topleft img {
    height: 50px;
    width: 130px;
    margin: 0px 0px 0px 15px;
}
.topleft .location {
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.topleft .location i {
    font-size: 19px;
    color: white;
    margin-top: 3px;
    margin: 0px 5px 5px 0px;
    align-self: flex-end;
}
.topleft .location p {
    color: white;
    font-size: 13px;
    margin: 0;
    align-self: center;
}

/* Top mid----------------------*/
.topmid {
    flex-grow: 1;
    display: flex;
}
.topmid #dropDown {
    height: 38px;
    max-width: 300px; /*Force dropdown list to expand fully*/
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    background-color: rgb(218, 213, 213);
    position: relative;
    left: 50px;
    cursor: pointer;
}
.topmid input {
    flex-grow: 1;
    height: 30px;
    font-size: 15px;
    padding: 0px 60px;
    border-radius: 5px;
    border: rgba(0, 0, 0, 0) solid 4.5px;
}
.topmid #dropDown:focus,
.topmid input:focus {
    /* Border color when the text box is focused (clicked) */
    border: rgba(249, 157, 9, 0.948) solid 4.5px;
    outline: none; /* Removes the default browser outline */
}
.topmid button {
    border: 0px;
    background-color: rgba(249, 157, 9, 0.948);
    font-size: 20px;
    height: 38px;
    width: 40px;
    padding-top: 2.5px;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    right: 40px;
}

/* Top right */
.topright {
    color: white;
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.topright i {
    font-size: 28px;
}
.topright p {
    font-size: 5px;
}
@media (max-width: 960px) {
    #lang {
        display: none;
    }
    .topright {
        width: 210px;
    }
}
@media (max-width: 768px) {
    #returns {
        display: none;
    }
}

/* Lower Top-------------------------------------------*/
.top1blue {
    background-color: rgb(40, 40, 94);
    color: white;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 65px;
    font-size: 1px;
}
.top1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top1 select {
    background-color: inherit;
    color: white;
    background-color: rgb(40, 40, 94);
    appearance: none;
    height: 30px;
    width: 40px;
    padding: 5px;
    border: 0px;
}
.top1 label i {
    position: absolute;
    top: 10px;
    left: 5px;
}
.top1 button {
    background-color: brown;
    margin-right: 20px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
}
@media (max-width: 2560px) {
    .a {
        display: none;
    }
}
@media (max-width: 2400px) {
    .b {
        display: none;
    }
}
@media (max-width: 1920px) {
    .c {
        display: none;
    }
}
@media (max-width: 1536px) {
    .d {
        display: none;
    }
}
@media (max-width: 1097.41px) {
    .e {
        display: none;
    }
}
@media (max-width: 768px) {
    .f {
        display: none;
    }
}

/* --------------###Main###----------------------------------------------------------------------------------------- */
.main {
    position: absolute;
    top: 95px;
    display: flex;
}
.custom {
    width: 180px;
    padding-left: 30rem;
    background: #e9f6724a;
}
.custom ul {
    list-style-type: none;
    padding: 0;
}
.cards {
    width: 1000px;
    background: #f6de724a;
}
/* footer */
body {
    padding: 0px;
}
.footer {
    background-color: #23364b;
    color: white;
    width: 100%;
    position: relative;
    top: 6500px;
    flex-direction: column;
}
.signin {
    background-color: #fff;
}
.wan {
    background-color: #324152;
    height: 32px;
    padding-top: 12px;
    text-align: center;
}
.wan a {
    text-decoration: none;
    font-size: 13.5px;
    color: white;
}
.tu {
    height: 400px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    gap: 80px;
    font-size: 13.5px;
}
.tu ul {
    list-style: none;
}
.tu ul h3 {
    margin: 10px 0px;
}
.tu ul li {
    margin: 0px;
    opacity: 0.9;
    margin-bottom: 10px;
}
.Threethings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Threethings img {
    width: 110px;
    margin: 20px;
}
.Threethings button {
    background-color: inherit;
    border-color: inherit;
    color: #fff;
    border-width: 1px;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    opacity: 0.8;
}
.thiri {
    padding: 20px 0px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
}
.thiri ul {
    list-style: none;
    width: 700px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    line-height: 14px;
    margin-left: 430px;
}
.thiri ul li {
    width: 150px;
    padding: 0px 0px;
}
.thiri ul h5 {
    margin: 0;
    opacity: 0.7;
}
.thiri ul span {
    margin: 0;
    opacity: 0.5;
}

.end {
    align-items: end;
    background: #000;
    text-align: center;
    line-height: 15px;
}
.end a {
    text-decoration: none;
    margin-right: 17px;
}
.end p {
    margin: 5px 18px 5px 0px;
}
